@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bangers, cursive;
    color: #001011;
}

body {
    background: #F7FFF7;
    /*#6D72C3;*/
}

header {
    background: #4ECDC4;
    /*#563FA2;*/
}

header>h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.score-board {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#player {
    background: #7CE577;
    width: 101px;
}

#computer {
    background: #F02D3A;
    width: 149px;
}

.result {
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.choices {
    padding: 10px;
    margin: 100px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.choice {
    border: 3px solid #272727;
    border-radius: 80px;
    transition: all 0.3s;
}

.buttonTransform {
    transform: scale(1.1);
    box-shadow: 0 0 10px #001011
}

.score {
    border: 3px solid;
}

.robot {
    border: 3px solid;
    border-radius: 80px;
}